<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://UML_LIBRARIES/solidity_types.uml"
            target="platform:/plugin/de.urszeidler.eclipse.solidity.ui/model/types.uml">
      </mapping>
      <mapping
            source="pathmap://UML_PROFILE/solidity_profiles.uml"
            target="platform:/plugin/de.urszeidler.eclipse.solidity.ui/model/contracts.profile.uml">
      </mapping>
      <mapping
            source="pathmap://UML_LIBRARIES/StandardizedContractAPI.uml"
            target="platform:/plugin/de.urszeidler.eclipse.solidity.ui/model/StandardizedContractAPI.uml">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="Profile to define solidity based smart contracts."
            iconpath="icons/solidity16.png"
            name="solidity profile"
            path="pathmap://UML_PROFILE/solidity_profiles.uml"
            provider="Urs Zeidler">
      </profile>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="Basic types for Solidity."
            iconpath="icons/solidity16.png"
            name="solidity types"
            path="pathmap://UML_LIBRARIES/solidity_types.uml"
            provider="Urs Zeidler">
      </library>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.urszeidler.eclipse.solidity.ui.preferences.SolidityGenerationPreferencePage"
            id="de.urszeidler.eclipse.solidity.ui.preferences.SolidityGenerationPreferencePage"
            name="Solidity generation Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.urszeidler.eclipse.solidity.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            name="StandardizedContractAPI"
            path="pathmap://UML_LIBRARIES/StandardizedContractAPI.uml"
            provider="Urs Zeidler">
      </library>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.wizards.templates">
      <template
            di_file="model-template/model.di"
            file="model-template/model.uml"
            id="de.urszeidler.eclipse.solidity.ui.basic"
            language="uml"
            name="Basic Solidity model"
            notation_file="model-template/model.notation">
      </template>
   </extension>
   
      <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="de.urszeidler.eclipse.solidity.ui.preferences.SolidityGenerationPreferencePage"
            id="de.urszeidler.eclipse.solidity.ui.preferences.SolidityGenerationPreferencePage"
            name="Solidity generation Project Preferences">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
</plugin>
