<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.urszeidler.eclipse.solidity.um2solidity.m2t.laucherTab" name="uml2Solidity model to text laucher tab" schema="schema/de.urszeidler.eclipse.solidity.um2solidity.m2t.laucherTab.exsd"/>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="de.urszeidler.eclipse.solidity.laucher.ui.Uml2SolidityLaunchConfigurationTabGroup"
            description="Lauches the uml to solidity generator"
            id="de.urszeidler.eclipse.solidity.laucher.ui.launchConfigurationTabGroup"
            type="de.urszeidler.eclipse.solidity.laucher.core.launch.uml2solidity">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="de.urszeidler.eclipse.solidity.laucher.core.launch.uml2solidity"
            icon="images/solidity16.png"
            id="de.urszeidler.eclipse.solidity.laucher.ui.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="de.urszeidler.eclipse.solidity.um2solidity.m2t.laucherTab">
      <uml2solidityLauchTab
            id="GenerateUml2SolidityCodeConfigurationTab"
            tab_class="de.urszeidler.eclipse.solidity.laucher.ui.GenerateUml2SolidityCodeConfigurationTab"
            tab_order="1">
      </uml2solidityLauchTab>
      <uml2solidityLauchTab
            id="GenerateJavaCodeConfigurationTab"
            tab_class="de.urszeidler.eclipse.solidity.laucher.ui.GenerateJavaCodeConfigurationTab"
            tab_order="2">
      </uml2solidityLauchTab>
      <uml2solidityLauchTab
            id="GenerateJSCodeConfigurationTab"
            tab_class="de.urszeidler.eclipse.solidity.laucher.ui.GenerateJSCodeConfigurationTab"
            tab_order="3">
      </uml2solidityLauchTab>
      <uml2solidityLauchTab
            id="GenerateOthersConfigurationTab"
            tab_class="de.urszeidler.eclipse.solidity.laucher.ui.GenerateOthersConfigurationTab"
            tab_order="4">
      </uml2solidityLauchTab>
   </extension>

</plugin>
