<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.urszeidler.eclipse.solidity.ui.preferences.SolidityGenerationPreferencePage"
            class="de.urszeidler.eclipse.solidity.compiler.support.preferences.SolcCompilerPreferencePage"
            id="de.urszeidler.eclipse.solidity.ui.preferences.SolcCompilerPreferencePage"
            name="Solc Compiler Preference Page">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.urszeidler.eclipse.solidity.compiler.support.preferences.PreferenceInitializer">
      </initializer>
   </extension>

      <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="de.urszeidler.eclipse.solidity.ui.preferences.SolidityGenerationPreferencePage"
            class="de.urszeidler.eclipse.solidity.compiler.support.preferences.SolcCompilerPreferencePage"
            id="de.urszeidler.eclipse.solidity.ui.preferences.SolcCompilerPreferencePage"
            name="Solc Compiler Preference Page">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
